body{
  margin:0;
  padding:0;
}
/* #шапка сайта  начало */
#menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

#menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#menu__icon span:nth-child(1) {
    top: 0px;
}

#menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

#menu__icon span:nth-child(4) {
    top: 26px;
}



/* открытое меню адаптивное */
@media screen and (max-width: 999px)  {
  .nav-top{
   display:none;
 }
 #menu__icon{
   display:block;
   margin:10px;
 }
 .navigation{
   margin:0;
   padding:0;
 }
 .nav-down  ul li{
   display:block;
   background-color: #979797;
   text-align: center;
   border-bottom:0.5px solid black;
   border-top:1px solid black;
   padding-bottom:5px;
   padding-top: 5px;
 }
 .nav-down  ul{
   display: none;
 }
 .nav-down a{
   text-decoration: none;
   color:black;
   font-size:25px;
 }
 .nav-down a:hover{
   color:orange;
 }
}

/* end menu adn navigation */

/* адаптивное меню */


.nav-top {
    margin:0;
    padding:0;
    width:100%;
    height:10%;
}
.nav-top{
  height:35px;
  border: 1px solid #F2F2F2;
  box-sizing: content-box;
  background: #F2F2F2;
}
.nav-top p{
  margin-top:0;
  margin-left:10%;
  padding-top:7.5px;
  color:#939393;
}
.nav-top a{

}
@media screen and (min-width: 999px) {
.nav-down{
  display:block;
  min-height:60px;
  background:
   url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/Logo.png") no-repeat;
  background-position: left;
  padding-top:10px;
  margin-left:10%;

}
.nav-down ul{
  display:block;
  position: relative;
  padding-right: 10%;
  list-style: none;
  float:right;
}
.nav-down ul li{
  display:inline-block;
  margin-left: 15px;
}
.nav-down ul li a{
  display:block;
  text-decoration: none;
  color:#1C1C1C;
  font-size:1.2em;
}
}
/* конец шапки */




.content{
  display: flex;
  flex-direction: column;
  align-content: center;
  width:auto;
  min-height:468px;
  background:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/instalocentrum_1.png") 50% no-repeat;
}
.main_text h1{
  text-align: center;
  padding-top:120px;
  color:#ffffff;
  font-size:35px;
}
.main_text pre{
  text-align: center;
  color:#ffffff;
  font-size:15px;
}
@media screen and (max-width: 999px){
  .main_text .learn_more{
    margin-left: 40% !important;
  }
}
@media screen and (max-width: 600px){
  .main_text .learn_more{

    margin-left: 35% !important;
  }
}
.main_text .learn_more{
  margin-left: 45%;
  background-color: orange;
  border-color: orange;
  padding:12px 36px;
  color:#ffffff;
  border-radius: 10px;
}

.choosing{
  display:flex;
  margin:0;
  padding:0;
  width:auto;
  height:650px;
}

.content_2{
  justify-content: flex-start;
  width: 450px;
  height: 450px;
  background:
   url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/Boder.png")
   no-repeat;
   margin-left: 15%;
   margin-top: 75px;

}
@media screen and (max-width: 999px){
  .content_2{
    display:none;
  }
  .chose{
    justify-content: flex-start !important;
    margin-top: 150px;
  }
  .icons_choose{
    flex-direction:column !important;

  }

}
.choose {
  justify-content: flex-end;
  margin-left: 50px;
  margin-top: 8%;
  font-size:14px;
}
.choose hr{
  background-color:blue;
  border: 1px solid blue;
  color:blue;
  width:60px;
  height:4px;
  float:left;
}
.choose p{
  width:430px;
  font-size:12px;
  word-wrap: break-word;
}
.icons_choose{
  display:flex;
  flex-direction:row;
  margin:0;
  padding:0;
  flex-basis:260px;
}
.customize{
  align-content:flex-end;
  width:250px;
  height: 100px;
  word-wrap: normal;
}
.customize::before{
  width:50px;
  background-image:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/gears2.png");
  background-color: #1C3E9B;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 100px;
}
.customize h3{

}

.support{
  justify-content: flex-end;
  width:150px;
  height: 80px;
  padding-left: 10px;
}
.

/* .......no end i cooming soon..... */


.featured_servis{
  display:flex;
  height:auto;
  width:100%;
  margin:0;
  padding:0;
  background-color:#F2F2F2;
}
.featured_servis h1{
  font-size: 25px;
  text-align: center;
  /* padding-top: 25px; */
  color:#00000;
}
.featured_servis .describe{
  display:flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-content: space-around;
  justify-content: center;
  width:auto;
  height:450px;
  /* margin:40px 12%; */
}
/* старт иконо и опису */
.insta{
  width: 180px;
  height:220px;
  margin:0px 40px;

}
.insta_photo{
  align-self: center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/tap.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
.insta h3{
  text-align: center;
  margin-bottom: -10px;
  line-height: 1.6em;
}
.insta p{
  text-align: center;
  color:#646464;
}
.insta a{
  text-decoration: none;
  padding-left: 60px;
  color:#868686;
}
/* кінець іконки і опису  */
.valve_photo{
  align-self:center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/valve.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
.valve_photo{
  align-self:center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/valve.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
.shop_photo{
  align-self:center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/shop.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
.hammer_photo{
  align-self:center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/hammer.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
.pipe_2_photo{
  align-self:center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/pipe-2.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
.pipe_photo{
  align-self:center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/pipe.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
.wrench_photo{
  align-self:center;
  width:65px;
  background: #023E99 url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/wrench.png") no-repeat 50% 50%;
  min-height:65px;
  margin-left: 60px;
}
/* start  */
.featured_servis_2{
  display:flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: nowrap;
  margin:0;
  padding-left:5%;
  height: 300px;
  width: auto;
  z-index: 1;
  background-image: url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/holder.png");
}
.featured_servis_2 p{
  position:relative;
  top:20px;
  margin-left: 10%;
  color:#ffffff;
  font-size:35px;
}
.expieriens::after{
  content: "YEARS OF EXPIERIENS ";
  display: block;
  position:relative;
  color:#979797;
  font-size:15px;
  position:relative;
  top:10px;
  left:10px;

}
.expieriens::before{
  content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/crown.png");

  position: relative;
  min-height:25px;
  width:35px;
  top:-55px;
  left:50px;
  border:1px solid #023E99;
  background-color: #023E99;
  padding:2.5px 6px;
  border-radius: 50%;
  border-width: 10px;


}
.project::after{
  content: "COMPLETED PROJECT";
  display: block;
  position:relative;
  color:#979797;
  font-size:15px;
  position:relative;
  top:10px;
  left:10px;

}
.project::before{
  content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/startup.png");
  position: relative;
  min-height:25px;
  width:35px;
  top:-55px;
  left:60px;
  border:1px solid #023E99;
  background-color: #023E99;
  padding:2.5px 6px;
  border-radius: 50%;
  border-width: 10px;
}
.customer::after{
    content: "HAPPY CUSTOMER";
    display: block;
    position:relative;
    color:#979797;
    font-size:15px;
    position:relative;
    top:10px;
    left:35px;

  }
.customer::before{
    content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/lovers-heart.png");
    position: relative;
    min-height:25px;
    width:35px;
    top:-55px;
    left:70px;
    border:1px solid #023E99;
    background-color: #023E99;
    padding:2.5px 6px;
    border-radius: 50%;
    border-width: 10px;


  }
.awards::after{
      content: "AWARDS WON";
      display: block;
      position:relative;
      color:#979797;
      font-size:15px;
      position:relative;
      top:10px;
      left:38px;

    }
.awards::before{
      content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/quality.png");
      position: relative;
      min-height:25px;
      width:35px;
      top:-55px;
      left:58px;
      border:1px solid #023E99;
      background-color: #023E99;
      padding:2px 12px;
      border-radius: 50%;
      border-width: 10px;


    }
}
/* our project start */
.our_project{
  display: flex;
  margin: 0;
  padding:0;
  height: 900px;
  width: auto;
}
.our_project h1{
  text-align: center;
  padding:20px;
  font-size:25px;
}
.our_project hr{
  background-color:blue;
  border: 1px solid blue;
  color:blue;
  width:60px;
  height:4px;
  float:left;
  position: relative;
  left:47.5%;
  top:-30px;

}

/* handyman start */
.handyman{
  display: flex;
  flex-flow: column;
  height: 300px;
  width:100%;
  margin:0px;
  padding:0;
  background: url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/instalocentrum_5_1.png") 72%;
}
.handyman p{
  display:block;
  position: relative;
  text-align: center;
  font-size: 30px;
  color:#ffffff;
  top:20%;
  font-weight: bold;
}
.handyman a{
  width:250px;
  padding:15px 0px;
  padding-left: 15px;
  background-color: orange;
  border:1px solid orange;
  border-radius: 20px;
  text-align: center;
  position: relative;
  top:20%;
  left:42%;
  letter-spacing: 1.5px;
  font-size: 20px;
  text-decoration: none;
  font-weight:bold;
  color:#ffffff;
  background:orange url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/vintage-cellphone.png") 7% no-repeat;
}

/* contact start */

.contact {
  display:flex;
  flex-direction: row wrap;
  height: 520px;
  margin-left:18%;
  margin-top: 4%;
}
.store{
}
.store h2{
  letter-spacing: 1.5px;
}
.store hr,
.qoute hr{
  background-color:#023A98;
  border: 1px solid #023A98;
  color:blue;
  width:60px;
  height:2px;
  float:left;
  position:relative;
  top:-15px;
}
.qoute{
  margin-left: 5%;
  width:650px;
}
.quote h2{
  letter-spacing: 1.5px;
}
/* start form */
form {
  display: block;
  height: 350px;
  margin-top:30px;
}
input[type="text"]{
  border:1px solid #E5E5E5;
  background-color:#F2F2F2;
  color:#6E6E6E;
  padding: 10px 100px 10px 20px;
  margin: 10px 5px 10px 0px;
}
input[type="text"]:first-child{
  margin-left: -61px;
}
textarea{
  border:1px solid #E5E5E5;
  background-color:#F2F2F2;
  color:#6E6E6E;
  padding-top:10px;
  padding-left:15px;
  padding-right: 1px;
  margin-left: -1px;
}
input[type="button"]{
  padding: 15px 30px;
  font-size:15px;
  background-color: #FFBB28;
  border:1px solid #FFBB28;
  color:#ffffff;
  margin-left: -2px;
}
footer{
  display:flex;
  flex-direction: column;
  margin:0;
  padding:0;
  height:450px;
}
.footer{
  display:flex;
  flex-direction: row;
  height:400px;
  width:100%;
  border:1px solid #1A1A1A;
  background-color:#1A1A1A;
}
.contact_us{
  width:32%;
}
.contact_us h3{
  color:#ffffff;
  margin-left: 50%;
  margin-top: 50px;
  font-size: 17px;
  letter-spacing: 1.5px;
}
.contact_us p{
  color:#989898;
  margin-left: 53%;
  margin-top: 10px;

}
.contact_1::before{
  content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/phone.png");
  position:relative;
  top:16px;
  right:5px;
}
.contact_2::before{
  content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/location.png");
  position:relative;
  top:16px;
  right:5px;
}
.contact_3::before{
  content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/mail.png");
  position:relative;
  top:16px;
  right:5px;
}
.contact_4::before{
  content:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/timer.png");
  position:relative;
  top:16px;
  right:5px;
}
.our_service{
  width:50%;
}
.our_service h3{
  align-items: flex-start;
  color:#ffffff;
  margin-left: 18%;
  margin-top: 50px;
  font-size: 17px;
  letter-spacing: 1.5px;
}
.service_table{
  display:flex;
  flex-direction: row;
  margin-left: 15%;
  float:left;
}
.service_table li,
.service_table a{
  text-decoration:none;
  list-style:none;
  padding-top:6px;
  color:#7D7D7D;
  padding-right:15px;
}
.service_table li{
  list-style-image:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/1.png");
}




.copyright{
  height: 50px;
  width:100%;
  border:1px solid #0D0D0D;
  background-color:#0D0D0D;
}
.copyright p{
  color:#646464;
  text-align: center;
}





/* ///////engine.html ///// start //////
/////// //////////// //////////// /////
/////// //////////// //////////// /////
/////// //////////// //////////// ///// */


/* ////start navigation//// */
.engine_repair{
  display:flex;
  justify-content: center;
  flex-direction:column;
  width:100%;
  height:250px;
  background:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/Heading_Pages.png") no-repeat 50% 50%;
  margin-top:5px;
}
.engine_repair h1{
  text-align: center;
  margin-top:-20px;
  color:#FFBB00;
}
.engine_repair p{
  text-align:center;
  margin-top:-10px;
  color:#B0B8CE;
}
/* ///////end navigation///// */


/* //////start content box //////  */
.engine_box{
  display:flex;
  margin:0;
  padding:0;
  width:100%;
}
.engine_menu{
  display:flex;
  flex-flow: column;
  /* padding-left: 10%; */
  width:30%
}
.engine_menu ul{
  display:block;
  margin-left:20%;
}
.engine_menu li,
.engine_menu a{
  text-decoration: none;
  list-style: none;
  color:#6C6B6C;
}
.engine_menu li{
  border:1px solid #E7E7E7;
  height:30px;
  width:200px;
  text-align: center;
  padding-top: 12.5px;
  margin-bottom: 10px;
}
.engine_menu li:hover{
  background-color: #023E99;
  transition-duration: 1s;
}
.engine_menu a:hover{color:#ffffff}

.engine_contact{
  display:block;
  margin-top: -20px;
  margin-left: 30%;
}
.engine_contact .your_add{
  border:1px solid #1F53A0;
  background-color: #1F53A0;
  color:#ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-top:20px;
  height:180px;
  width: 195px;

}
.engine_contact h3{color:#323232}
.engine_contact p{
  color:#666666;
}
.engine_contact p:nth-child(2)::before{
  content:"123";
}

/* engine content */
/* start */
.engine_content{
  display:flex;
  flex-direction: column;

  height:auto;
  width:70%;
  margin:0;
  padding:0;
}
.engine_photo{
  border:1px solid blue;
  background-color: blue;
  /* margin-left: 10%; */
  margin-top: 25px;
  width: 850px;
  height:415px;
}
.engine_text p{
  width:850px;
}
.engine_text h3{
  margin-top: 20px;
}
.engine_text hr{
  border:1px solid #E7E7E7;
  background-color:#E7E7E7;
  width:850px;
  margin:0;
  padding:0;
}
.engine_galerie hr{
  background-color:blue;
  border: 1px solid blue;
  color:blue;
  width:60px;
  height:2px;
  float:left;
  margin-top:-5px;
}
.engine_galerie ul{
  text-decoration: none;
  list-style: none;
  margin:0;
  padding-top:10px;
}
.engine_galerie li{
  padding-top:10px;
  padding-bottom:5px;

}
.engine_galerie a{
  list-style:none;
  text-decoration: none;
  color:black;
}
.engine_galerie a:hover{
  color:#FFBF38;
  transition-duration: 0.3s;

}
.engine_galerie li{
  list-style-image:url("file:///Users/olehkostashchuk/Desktop/instalocentrum/image/1.png");
  padding-left:10px;
}
.engine_galerie .silver{
  border:0.5px solid #E7E7E7;
  background-color:#E7E7E7;
  width:850px;
  margin:0;
  padding:0;
  margin-top:25px;
}
.engine_galerie h3  {
  margin-top:70px;
}
.engine_galerie p {
  width:850px;
}
